@page "/cars-list"
@using shared
@using shared.Enums
@using shared.Models
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Cars</PageTitle>

<h1>Cars</h1>

<p>Those are the cars in the system</p>

@if (cars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(isCarAdded)
    {
        <div class="alert alert-success" role="alert">
            A new car has been added successfully!
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Registration Number</th>
                <th>Make</th>
                <th>Model</th>
                <th>Type</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
                    <tr>
                        <td><img src="@car.ImageUrl" width="100px" height="100px"/></td>
                        <td style="cursor: pointer;" @onclick="() => NavigateToEditCar(car)">@car.RegistrationNumber</td>
                        <td>@car.Make</td>
                        <td>@ModelsDisplayNames.GetDisplayName(car.Model)</td>
                        <td>@car.Type</td>
                        <td>@car.Color</td>
                        <td>
                            <button @onclick="() => DeleteCarAsync(car.RegistrationNumber)" class="btn btn-danger">Delete</button>
                        </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CarDto[]? cars;
    private bool isCarAdded;

    protected override async Task OnInitializedAsync()
    {
        var query = new Uri(NavManager.Uri).Query;
        if (query.Contains("car-added"))
        {
            // Show snackbar
            isCarAdded = true;

            // Remove the query parameter
            NavManager.NavigateTo("/cars-list");
        }

        var serverUrl = "http://localhost:5098";
        cars = await Http.GetFromJsonAsync<CarDto[]>($"{serverUrl}/cars/all");
    }

    private async Task DeleteCarAsync(string RegistrationNumber) //TODO: Implementation of the method missing
    {
        var serverUrl = "http://localhost:5098";
        var response = await Http.DeleteAsync($"{serverUrl}/cars/{RegistrationNumber}");

        // TODO add checks if they have a rental

        if (response.IsSuccessStatusCode)
        {
            cars = cars?.Where(c => c.RegistrationNumber != RegistrationNumber).ToArray();
        }
        else
        {
            Console.WriteLine($"Car could not be deleted");
        }
    }

    private void NavigateToEditCar(CarDto car)
    {
        NavManager.NavigateTo($"/edit-car/{car.RegistrationNumber}");
    }


}