@page "/rental-list"
@using Microsoft.AspNetCore.Components.Authorization
@using blazor_client.Contacts
@using shared
@using shared.Enums
@using shared.Models
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IApiService apiService;
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Rentals</PageTitle>

<h1>Rentals</h1>

<p>Those are the rentals in the system</p>

@if (rentals == null)
{
    <p><em>Loading...</em></p>
}
else if (rentals.Length == 0)
{
    <p><em>No rental found</em></p>
}
else
{
    @if(isRentalAdded)
    {
        <div class="alert alert-success" role="alert">
            A new rental has been added successfully!
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Car reg number</th>
                <th>User</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Dropoff Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rental in rentals)
            {
                <tr>
                    <td style="cursor: pointer; vertical-align: middle;" @onclick="() => NavigateToEditRental(rental.Id.ToString())">@rental.CarRegNumber</td>
                    <td style="vertical-align: middle;">@rental.User?.LegalName</td>
                    <td style="vertical-align: middle;">@rental.StartDate.ToString("dd-MM-yyyy HH:mm")</td>
                    <td style="vertical-align: middle;">@rental.EndDate.ToString("dd-MM-yyyy HH:mm")</td>
                    <td style="vertical-align: middle;">@rental.Status</td>
                    <td style="vertical-align: middle;">@(rental.DropDate.ToUnixTimeMilliseconds() == 0 ? "None" : rental.DropDate.ToString("dd-MM-yyyy HH:mm"))</td>
                    @if (rental.Status == RentalStatus.Pending)
                    {
                        <td style="vertical-align: middle;">
                             <button disabled="@isSubmitting" @onclick="() => ChangeStatus(RentalStatus.Cancelled, rental.Id)" class="btn btn-danger mt-2 mr-2" style="width: 100px">
                                @if (isSubmitting)
                                {
                                    <div class="spinner-border text-white" role="status" />
                                }
                                else
                                {
                                    <span>Cancel</span>
                                }
                            </button>

                             <button disabled="@isSubmitting" @onclick="() => ChangeStatus(RentalStatus.Confirmed, rental.Id)" class="btn btn-success mt-2" style="width: 100px">
                                @if (isSubmitting)
                                {
                                    <div class="spinner-border text-white" role="status" />
                                }
                                else
                                {
                                    <span>Confirm</span>
                                }
                            </button>
                        </td>
                    }
                    else if (rental.Status == RentalStatus.Confirmed) {
                        <td style="vertical-align: middle;">
                            <button disabled="@(isSubmitting || DateTime.Now < rental.EndDate)" 
                                style="background-color: #ffc107; width: 100px;"
                                @onclick="() => ChangeStatus(RentalStatus.Completed, rental.Id)"  
                                class="btn btn-warning mt-2 mr-2">
                                    @if (isSubmitting)
                                    {
                                        <div class="spinner-border text-white" role="status" />
                                    }
                                    else
                                    {
                                        <span>Drop Off</span>
                                    }
                            </button>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private RentalDto[]? rentals;
    private bool isRentalAdded;
    private bool isSubmitting;


    void NavigateToEditRental(string rentalId)
    {
        NavManager.NavigateTo($"/edit-rental/{rentalId}");
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        if (!authState.User.Identity?.IsAuthenticated ?? false)
        {
            NavManager.NavigateTo("/login");
        }
        
        var query = new Uri(NavManager.Uri).Query;
        if (query.Contains("rental-added")) {
            // Show snackbar
            isRentalAdded = true;

            // Remove the query parameter
            NavManager.NavigateTo("/rental-list");
        }

        rentals = await apiService.GetAllRentalsAsync();
    }

    private async Task ChangeStatus(RentalStatus status, int rentalId) {
        if (isSubmitting) return;

        isSubmitting = true;
        var refetchedRental = await apiService.GetRentalByIdAsync(rentalId);
        if (refetchedRental == null)
        {
            isSubmitting = false;
            return;
        }

        refetchedRental.Status = status;
        if (status == RentalStatus.Completed)
        {
            refetchedRental.DropDate = DateTime.Now.AddHours(2);
        }

        var serverErrorMessage = await apiService.EditRentalAsync(rentalId, refetchedRental);

        if (!string.IsNullOrEmpty(serverErrorMessage))
        {
            isSubmitting = false;
            return;
        }

        isSubmitting = false;
        await OnInitializedAsync();
    }

}
